.message {
    min-width: 380px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: fixed;
    left: 50%;
    top: -10px;
    opacity: 0.3;
    transform: translateX(-50%);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 14px;
}

.message > i {
    margin-right: 10px;
}

.message > p {
    display: inline-block;
    margin: 0;
    padding: 0;
}